* {
    margin: 0px;
    padding: 0px;
}

.envelope-container {
    display: flex;
    gap: 30px;
}

h2 {
    margin: 5px;
}

.container {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    /* gap: 5px; */
}

.container-0 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    /* gap: 5px; */
}

.container-1 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    /* gap: 5px; */
}

.container-2 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    /* gap: 5px; */
}

.container-3 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.container-4 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    /* gap: 5px; */
}

.bloco-1 {
    background-color: #81A684;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.bloco-2 {
    background-color: #57886C;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.bloco-3 {
    background-color:#466060;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.container-second-column-1 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container-second-column-2 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-second-column-3 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-second-column-4 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-second-column-5 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-third-column-1 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.container-third-column-2 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.container-third-column-3 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-third-column-4 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.container-third-column-5 {
    margin: 5px;
    background-color: #F8C7CC;
    padding: 5px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

/* bloco para usar stretch */

.bloco1 {
    background-color: #81A684;
    width: 50px;
    /* height: 50px; */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.bloco2 {
    background-color: #57886C;
    width: 50px;
    /* height: 50px; */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.bloco3 {
    background-color:#466060;
    width: 50px;
    /* height: 50px; */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/* bloco para usar o baseline */

.bloc1 {
    background-color: #81A684;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 5px;
}
.bloc2 {
    background-color: #57886C;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
.bloc3 {
    background-color:#466060;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}