* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.container {
    min-height: 300px;
    height: fit-content;
    width: 350px;
    /* border: 5px solid #3E363F; */
    border-radius: 50px;
    background-color: #E6E8E6;
    margin-top: 20px;
    padding: 10px;

    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}

.container-header {
    font-size: 40px;
    text-align: center;
    color: #3B1F2B; 
}

.insert-what-to-do {
    padding: 20px;
}

#texto {
    height: 30px;
    /* border-radius: 5px; */
    border: none;
    width: 200px;
}

#btn {
    /* height: 30px; */
    background-color: #95ADB6;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: none;
    font-size: 15px;
}


.container-body {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding: 20px;
}

.list-items {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}

.list-item {
    font-size: 15px;
    background-color: #B9B7A7;
    padding: 10px;
    flex-grow: 1;
}

.list-item-btn {
    font-size: 15px;
    background-color: #D64045;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.container-2 {
    background-color: #95ADB6;
    min-height: 300px;
    height: fit-content;
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.container-3 {
    background-color: #80B192;
    min-height: 300px;
    height: fit-content;
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}


